Import numpy and pandas

In [1]:
import numpy as np
import pandas as pd

Create a python dictionary with 5 labels and 5 numbers of your choice.
Call it my_data.

In [2]:
my_data = {"Vera":101,"Patrizio":102,"Sergio":103,"Bellissa":104,"Emilia":105}
my_data

{'Vera': 101, 'Patrizio': 102, 'Sergio': 103, 'Bellissa': 104, 'Emilia': 105}

Create a pandas Series from the dictionary called my_series.
Display it.

In [5]:
my_series = pd.Series(my_data)
my_series

Vera        101
Patrizio    102
Sergio      103
Bellissa    104
Emilia      105
dtype: int64

Create a 5x5 array of random integers, from 0 to 100 called nums.
Display it.

In [50]:
numbers = np.random.randint(0,100,25)
nums = numbers.reshape(5,5)
nums

array([[93, 50, 70,  4, 37],
       [ 0, 81, 75, 40, 16],
       [15, 49, 71, 47, 67],
       [93, 89, 63, 72, 55],
       [73, 71, 28, 45, 34]])

Create a DataFrame from the nums array, called df.
Label the columns: A,B,C,D,E
Label the index: V,W,X,Y,Z
Display the DataFrame.

In [73]:
df = pd.DataFrame(nums, index=["V","W","X","Y","Z"], columns=["A","B","C","D","E"])
df

    A   B   C   D   E
V  93  50  70   4  37
W   0  81  75  40  16
X  15  49  71  47  67
Y  93  89  63  72  55
Z  73  71  28  45  34

Display columns B and D.

In [52]:
df[["B","D"]]

    B   D
V  50   4
W  81  40
X  49  47
Y  89  72
Z  71  45

Display rows X and Y.

In [53]:
df.loc[["X","Y"]]

    A   B   C   D   E
X  15  49  71  47  67
Y  93  89  63  72  55

In [ ]:
Display element YC.

In [54]:
df.loc["Y","C"]

63

Display rows X and Y, and columns B and D.

In [55]:
df.loc[["X","Y"],["B","D"]]

    B   D
X  49  47
Y  89  72

Add a new column F, which is column A x column B.
Display the resulting DataFrame.

In [74]:
df["F"] = df["A"] * df["B"]
df

    A   B   C   D   E     F
V  93  50  70   4  37  4650
W   0  81  75  40  16     0
X  15  49  71  47  67   735
Y  93  89  63  72  55  8277
Z  73  71  28  45  34  5183

Permanently drop row V and column F.
Display the resulting DataFrame.

In [75]:
df.drop('F',axis=1,inplace=True)
df.drop('V',axis=0,inplace=True)
df

    A   B   C   D   E
W   0  81  75  40  16
X  15  49  71  47  67
Y  93  89  63  72  55
Z  73  71  28  45  34